In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


import warnings
import itertools
warnings.filterwarnings('ignore')
plt.style.use('fivethirtyeight')
import statsmodels.api as sm
import matplotlib

matplotlib.rcParams['axes.labelsize'] = 14
matplotlib.rcParams['xtick.labelsize'] = 12
matplotlib.rcParams['ytick.labelsize'] = 12
matplotlib.rcParams['text.color'] = 'k'

In [9]:
octo = pd.read_excel('../data/raw/October 2018.xls')
nov = pd.read_excel('../data/raw/November 2018.xls')
dec = pd.read_excel('../data/raw/December 2018.xls')

In [10]:
dataset = pd.concat([octo, nov, dec], sort=False)
dataset.dropna(axis=0, how='all', thresh=10, inplace =True)
dataset.fillna("00:00", inplace =True)

In [11]:
dataset.head(10)

,Days,2019-10-01 00:00:00,2019-10-02 00:00:00,2019-10-03 00:00:00,2019-10-04 00:00:00,2019-10-05 00:00:00,2019-10-06 00:00:00,2019-10-07 00:00:00,2019-10-08 00:00:00,2019-10-09 00:00:00,...,2019-12-22 00:00:00,2019-12-23 00:00:00,2019-12-24 00:00:00,2019-12-25 00:00:00,2019-12-26 00:00:00,2019-12-27 00:00:00,2019-12-28 00:00:00,2019-12-29 00:00:00,2019-12-30 00:00:00,2019-12-31 00:00:00
1,In Time,00:00,00:00,10:07:02,00:00,10:14:32,00:00,00:00,10:06:35,09:11:21,...,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00
2,Out Time,00:00,00:00,23:25:59,00:00,20:16:16,00:00,00:00,00:00,18:52:35,...,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00
3,Duration,00:00,00:00,08:53,00:00,08:45,00:00,00:00,00:00,08:53,...,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00
4,OT,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00,...,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00
5,T Duration,00:00,00:00,08:53,00:00,08:45,00:00,00:00,00:00,08:53,...,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00
7,In Time,10:14:56,00:00,10:31:08,10:17:03,10:17:50,00:00,00:00,10:26:36,10:15:22,...,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00
8,Out Time,19:11:25,00:00,19:24:19,19:14:05,19:18:56,00:00,00:00,19:09:48,19:14:26,...,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00
9,Duration,08:45,00:00,08:29,08:43,08:42,00:00,00:00,08:33,08:45,...,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00
10,OT,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00,...,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00
11,T Duration,08:45,00:00,08:29,08:43,08:42,00:00,00:00,08:33,08:45,...,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00

In [12]:
# def presentEmployess(empTime):
# #     print(empTime.values)
#     p31 = np.asarray(empTime.values)
#     return (p31 != '00:00').sum()
# #     return list(filter(lambda x: 1 if (int(x.split(":")[0]) > 0 or int(x.split(":")[1]) > 0) else 0, empTime.values))
    

meltData = pd.melt(dataset, value_vars=dataset.columns.values[1:], id_vars=['Days'])
meltData.set_index("Days", inplace=True)
meltData.drop(["Out Time", "Duration", "OT", "T Duration"], inplace=True)
meltData.reset_index(inplace=True)
meltData["Attendance"] = meltData["value"].apply(lambda x: 1 if (int(x.split(":")[0]) > 0 or int(x.split(":")[1]) > 0) else 0)
meltData.drop(["Days", "value"], axis=1, inplace=True)
meltData = meltData.groupby("variable").sum().reset_index()
meltData.columns = ["Date", "Attendance"]
meltData["Date"] = meltData["Date"].apply(lambda x: x.replace(year=2018))
meltData.set_index(["Date"], inplace=True)

In [13]:
meltData.head(10)

            Attendance
Date
2018-10-01          24
2018-10-02           3
2018-10-03          28
2018-10-04          27
2018-10-05          30
2018-10-06           7
2018-10-07           3
2018-10-08          28
2018-10-09          26
2018-10-10          26

In [14]:
meltData.to_csv("../data/processed/AttendaenceProcess.csv")

### Building and processing data for the regression model

In [32]:
reg_data = meltData.reset_index()

reg_data["Year"] = reg_data["Date"].apply(lambda x: x.year)
reg_data["Month"] = reg_data["Date"].apply(lambda x: x.month)
reg_data["Day"] = reg_data["Date"].apply(lambda x: x.day)
reg_data["is_NWeekoff"] = reg_data["Date"].apply(lambda x: 1 if x.weekday() < 5 else 0 )
#  2, 19 oct, 7,8,9 Nov 24, 25 dec
holiday_list = ["2018-10-2", "2018-10-19", "2018-11-7", "2018-11-8", "2018-12-9", "2018-12-25"]
reg_data["is_workingday"] = reg_data["Date"].apply(lambda x: 1 if (str(x.year)+"-"+str(x.month)+"-"+str(x.day) not in holiday_list and x.weekday() < 5)  else 0)
#reg_data["is_holiday"] =

In [35]:
process_reg = reg_data.drop(["Date"], axis=1)

In [36]:
process_reg.to_csv("../data/processed/AttendaenceProcess_reg.csv", index=False)

### need to process for total no of employees in particular day

In [33]:
reg_data["Mon"] = reg_data["Date"].apply(lambda x: 1 if x.weekday() == 0 else 0)
reg_data["Tue"] = reg_data["Date"].apply(lambda x: 1 if x.weekday() == 1 else 0)
reg_data["Wed"] = reg_data["Date"].apply(lambda x: 1 if x.weekday() == 2 else 0)
reg_data["Thu"] = reg_data["Date"].apply(lambda x: 1 if x.weekday() == 3 else 0)
reg_data["Fri"] = reg_data["Date"].apply(lambda x: 1 if x.weekday() == 4 else 0)
reg_data["Sat"] = reg_data["Date"].apply(lambda x: 1 if x.weekday() == 5 else 0)
reg_data["Sun"] = reg_data["Date"].apply(lambda x: 1 if x.weekday() == 6 else 0)

In [28]:
# reg_data["Date"]   2, 19 oct, 7,8,9 Nov 24, 25 dec

In [49]:
reg_data.head(30)

,Date,Attendance,Year,Month,Day,is_NWeekoff,is_workingday,Mon,Tue,Wed,Thu,Fri,Sat,Sun
0,2018-10-01,24,2018,10,1,1,1,1,0,0,0,0,0,0
1,2018-10-02,3,2018,10,2,1,0,0,1,0,0,0,0,0
2,2018-10-03,28,2018,10,3,1,1,0,0,1,0,0,0,0
3,2018-10-04,27,2018,10,4,1,1,0,0,0,1,0,0,0
4,2018-10-05,30,2018,10,5,1,1,0,0,0,0,1,0,0
5,2018-10-06,7,2018,10,6,0,0,0,0,0,0,0,1,0
6,2018-10-07,3,2018,10,7,0,0,0,0,0,0,0,0,1
7,2018-10-08,28,2018,10,8,1,1,1,0,0,0,0,0,0
8,2018-10-09,26,2018,10,9,1,1,0,1,0,0,0,0,0
9,2018-10-10,26,2018,10,10,1,1,0,0,1,0,0,0,0
10,2018-10-11,24,2018,10,11,1,1,0,0,0,1,0,0,0
11,2018-10-12,27,2018,10,12,1,1,0,0,0,0,1,0,0
12,2018-10-13,9,2018,10,13,0,0,0,0,0,0,0,1,0
13,2018-10-14,1,2018,10,14,0,0,0,0,0,0,0,0,1
14,2018-10-15,25,2018,10,15,1,1,1,0,0,0,0,0,0
15,2018-10-16,25,2018,10,16,1,1,0,1,0,0,0,0,0
16,2018-10-17,27,2018,10,17,1,1,0,0,1,0,0,0,0
17,2018-10-18,24,2018,10,18,1,1,0,0,0,1,0,0,0
18,2018-10-19,1,2018,10,19,1,0,0,0,0,0,1,0,0
19,2018-10-20,0,2018,10,20,0,0,0,0,0,0,0,1,0
20,2018-10-21,0,2018,10,21,0,0,0,0,0,0,0,0,1
21,2018-10-22,22,2018,10,22,1,1,1,0,0,0,0,0,0
22,2018-10-23,21,2018,10,23,1,1,0,1,0,0,0,0,0
23,2018-10-24,21,2018,10,24,1,1,0,0,1,0,0,0,0
24,2018-10-25,22,2018,10,25,1,1,0,0,0,1,0,0,0
25,2018-10-26,21,2018,10,26,1,1,0,0,0,0,1,0,0
26,2018-10-27,23,2018,10,27,0,0,0,0,0,0,0,1,0
27,2018-10-28,1,2018,10,28,0,0,0,0,0,0,0,0,1
28,2018-10-29,25,2018,10,29,1,1,1,0,0,0,0,0,0
29,2018-10-30,23,2018,10,30,1,1,0,1,0,0,0,0,0

### attendance detail features

In [41]:
att_df = reg_data.copy(deep=True)

In [45]:
help(att_df["Date"][10])

Help on Timestamp in module pandas._libs.tslibs.timestamps object:

class Timestamp(_Timestamp)
 |  Pandas replacement for datetime.datetime
 |
 |  Timestamp is the pandas equivalent of python's Datetime
 |  and is interchangeable with it in most cases. It's the type used
 |  for the entries that make up a DatetimeIndex, and other timeseries
 |  oriented data structures in pandas.
 |
 |  Parameters
 |  ----------
 |  ts_input : datetime-like, str, int, float
 |      Value to be converted to Timestamp
 |  freq : str, DateOffset
 |      Offset which Timestamp will have
 |  tz : str, pytz.timezone, dateutil.tz.tzfile or None
 |      Time zone for time which Timestamp will have.
 |  unit : str
 |      Unit used for conversion if ts_input is of type int or float. The
 |      valid values are 'D', 'h', 'm', 's', 'ms', 'us', and 'ns'. For
 |      example, 's' means seconds and 'ms' means milliseconds.
 |  year, month, day : int
 |      .. versionadded:: 0.19.0
 |  hour, minute, second, microsecond : int, optional, default 0
 |      .. versionadded:: 0.19.0
 |  nanosecond : int, optional, default 0
 |      .. versionadded:: 0.23.0
 |  tzinfo : datetime.tzinfo, optional, default None
 |      .. versionadded:: 0.19.0
 |
 |  Notes
 |  -----
 |  There are essentially three calling conventions for the constructor. The
 |  primary form accepts four parameters. They can be passed by position or
 |  keyword.
 |
 |  The other two forms mimic the parameters from ``datetime.datetime``. They
 |  can be passed by either position or keyword, but not both mixed together.
 |
 |  Examples
 |  --------
 |  Using the primary calling convention:
 |
 |  This converts a datetime-like string
 |  >>> pd.Timestamp('2017-01-01T12')
 |  Timestamp('2017-01-01 12:00:00')
 |
 |  This converts a float representing a Unix epoch in units of seconds
 |  >>> pd.Timestamp(1513393355.5, unit='s')
 |  Timestamp('2017-12-16 03:02:35.500000')
 |
 |  This converts an int representing a Unix-epoch in units of seconds
 |  and for a particular timezone
 |  >>> pd.Timestamp(1513393355, unit='s', tz='US/Pacific')
 |  Timestamp('2017-12-15 19:02:35-0800', tz='US/Pacific')
 |
 |  Using the other two forms that mimic the API for ``datetime.datetime``:
 |
 |  >>> pd.Timestamp(2017, 1, 1, 12)
 |  Timestamp('2017-01-01 12:00:00')
 |
 |  >>> pd.Timestamp(year=2017, month=1, day=1, hour=12)
 |  Timestamp('2017-01-01 12:00:00')
 |
 |  Method resolution order:
 |      Timestamp
 |      _Timestamp
 |      datetime.datetime
 |      datetime.date
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __new__(cls, ts_input=<object object at 0x00000241F0DCDE20>, freq=None, tz=None, unit=None, year=None, month=None, day=None, hour=None, minute=None, second=None, microsecond=None, nanosecond=None, tzinfo=None)
 |
 |  __radd__(self, other)
 |
 |  __reduce__(self)
 |
 |  __setstate__(self, state)
 |
 |  astimezone = tz_convert(self, tz)
 |
 |  ceil(self, freq)
 |      return a new Timestamp ceiled to this resolution
 |
 |      Parameters
 |      ----------
 |      freq : a freq string indicating the ceiling resolution
 |
 |  day_name(self, locale=None)
 |      Return the day name of the Timestamp with specified locale.
 |
 |      Parameters
 |      ----------
 |      locale : string, default None (English locale)
 |          locale determining the language in which to return the day name
 |
 |      Returns
 |      -------
 |      day_name : string
 |
 |      .. versionadded:: 0.23.0
 |
 |  floor(self, freq)
 |      return a new Timestamp floored to this resolution
 |
 |      Parameters
 |      ----------
 |      freq : a freq string indicating the flooring resolution
 |
 |  isoformat(self, sep='T')
 |
 |  month_name(self, locale=None)
 |      Return the month name of the Timestamp with specified locale.
 |
 |      Parameters
 |      ----------
 |      locale : string, default None (English locale)
 |          locale determining the language in which to return the month name
 |
 |      Returns
 |      -------
 |      month_name : string
 |
 |      .. versionadded:: 0.23.0
 |
 |  normalize(self)
 |      Normalize Timestamp to midnight, preserving
 |      tz information.
 |
 |  replace(self, year=None, month=None, day=None, hour=None, minute=None, second=None, microsecond=None, nanosecond=None, tzinfo=<class 'object'>, fold=0)
 |      implements datetime.replace, handles nanoseconds
 |
 |      Parameters
 |      ----------
 |      year : int, optional
 |      month : int, optional
 |      day : int, optional
 |      hour : int, optional
 |      minute : int, optional
 |      second : int, optional
 |      microsecond : int, optional
 |      nanosecond: int, optional
 |      tzinfo : tz-convertible, optional
 |      fold : int, optional, default is 0
 |          added in 3.6, NotImplemented
 |
 |      Returns
 |      -------
 |      Timestamp with fields replaced
 |
 |  round(self, freq)
 |      Round the Timestamp to the specified resolution
 |
 |      Returns
 |      -------
 |      a new Timestamp rounded to the given resolution of `freq`
 |
 |      Parameters
 |      ----------
 |      freq : a freq string indicating the rounding resolution
 |
 |      Raises
 |      ------
 |      ValueError if the freq cannot be converted
 |
 |  to_julian_date(self)
 |      Convert TimeStamp to a Julian Date.
 |      0 Julian date is noon January 1, 4713 BC.
 |
 |  to_period(self, freq=None)
 |      Return an period of which this timestamp is an observation.
 |
 |  tz_convert(self, tz)
 |      Convert tz-aware Timestamp to another time zone.
 |
 |      Parameters
 |      ----------
 |      tz : str, pytz.timezone, dateutil.tz.tzfile or None
 |          Time zone for time which Timestamp will be converted to.
 |          None will remove timezone holding UTC time.
 |
 |      Returns
 |      -------
 |      converted : Timestamp
 |
 |      Raises
 |      ------
 |      TypeError
 |          If Timestamp is tz-naive.
 |
 |  tz_localize(self, tz, ambiguous='raise', errors='raise')
 |      Convert naive Timestamp to local time zone, or remove
 |      timezone from tz-aware Timestamp.
 |
 |      Parameters
 |      ----------
 |      tz : str, pytz.timezone, dateutil.tz.tzfile or None
 |          Time zone for time which Timestamp will be converted to.
 |          None will remove timezone holding local time.
 |
 |      ambiguous : bool, 'NaT', default 'raise'
 |          - bool contains flags to determine if time is dst or not (note
 |            that this flag is only applicable for ambiguous fall dst dates)
 |          - 'NaT' will return NaT for an ambiguous time
 |          - 'raise' will raise an AmbiguousTimeError for an ambiguous time
 |
 |      errors : 'raise', 'coerce', default 'raise'
 |          - 'raise' will raise a NonExistentTimeError if a timestamp is not
 |             valid in the specified timezone (e.g. due to a transition from
 |             or to DST time)
 |          - 'coerce' will return NaT if the timestamp can not be converted
 |            into the specified timezone
 |
 |            .. versionadded:: 0.19.0
 |
 |      Returns
 |      -------
 |      localized : Timestamp
 |
 |      Raises
 |      ------
 |      TypeError
 |          If the Timestamp is tz-aware and tz is not None.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  combine(date, time) from builtins.type
 |      Timsetamp.combine(date, time)
 |
 |      date, time -> datetime with same date and time fields
 |
 |  fromordinal(ordinal, freq=None, tz=None) from builtins.type
 |      Timestamp.fromordinal(ordinal, freq=None, tz=None)
 |
 |      passed an ordinal, translate and convert to a ts
 |      note: by definition there cannot be any tz info on the ordinal itself
 |
 |      Parameters
 |      ----------
 |      ordinal : int
 |          date corresponding to a proleptic Gregorian ordinal
 |      freq : str, DateOffset
 |          Offset which Timestamp will have
 |      tz : str, pytz.timezone, dateutil.tz.tzfile or None
 |          Time zone for time which Timestamp will have.
 |
 |  fromtimestamp(ts) from builtins.type
 |      Timestamp.fromtimestamp(ts)
 |
 |      timestamp[, tz] -> tz's local time from POSIX timestamp.
 |
 |  now(tz=None) from builtins.type
 |      Timestamp.now(tz=None)
 |
 |      Returns new Timestamp object representing current time local to
 |      tz.
 |
 |      Parameters
 |      ----------
 |      tz : str or timezone object, default None
 |          Timezone to localize to
 |
 |  today(tz=None) from builtins.type
 |      Timestamp.today(cls, tz=None)
 |
 |      Return the current time in the local timezone.  This differs
 |      from datetime.today() in that it can be localized to a
 |      passed timezone.
 |
 |      Parameters
 |      ----------
 |      tz : str or timezone object, default None
 |          Timezone to localize to
 |
 |  utcfromtimestamp(ts) from builtins.type
 |      Timestamp.utcfromtimestamp(ts)
 |
 |      Construct a naive UTC datetime from a POSIX timestamp.
 |
 |  utcnow() from builtins.type
 |      Timestamp.utcnow()
 |
 |      Return a new Timestamp representing UTC day and time.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  dayofweek
 |
 |  dayofyear
 |
 |  days_in_month
 |
 |  daysinmonth
 |
 |  freqstr
 |
 |  is_leap_year
 |
 |  is_month_end
 |
 |  is_month_start
 |
 |  is_quarter_end
 |
 |  is_quarter_start
 |
 |  is_year_end
 |
 |  is_year_start
 |
 |  quarter
 |
 |  tz
 |      Alias for tzinfo
 |
 |  week
 |
 |  weekday_name
 |      .. deprecated:: 0.23.0
 |          Use ``Timestamp.day_name()`` instead
 |
 |  weekofyear
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  max = Timestamp('2262-04-11 23:47:16.854775807')
 |
 |  min = Timestamp('1677-09-21 00:12:43.145225')
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from _Timestamp:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce_ex__(...)
 |      __reduce_ex__(proto) -> (cls, state)
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  timestamp(...)
 |      Return POSIX timestamp as float.
 |
 |  to_datetime64(...)
 |      Returns a numpy.datetime64 object with 'ns' precision
 |
 |  to_pydatetime(...)
 |      Convert a Timestamp object to a native Python datetime object.
 |
 |      If warn=True, issue a warning if nanoseconds is nonzero.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from _Timestamp:
 |
 |  asm8
 |
 |  freq
 |
 |  nanosecond
 |
 |  value
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from _Timestamp:
 |
 |  __pyx_vtable__ = <capsule object NULL>
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from datetime.datetime:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  ctime(...)
 |      Return ctime() style string.
 |
 |  date(...)
 |      Return date object with same year, month and day.
 |
 |  dst(...)
 |      Return self.tzinfo.dst(self).
 |
 |  strptime(...) from builtins.type
 |      string, format -> new datetime parsed from a string (like time.strptime()).
 |
 |  time(...)
 |      Return time object with same time but with tzinfo=None.
 |
 |  timetuple(...)
 |      Return time tuple, compatible with time.localtime().
 |
 |  timetz(...)
 |      Return time object with same time and tzinfo.
 |
 |  tzname(...)
 |      Return self.tzinfo.tzname(self).
 |
 |  utcoffset(...)
 |      Return self.tzinfo.utcoffset(self).
 |
 |  utctimetuple(...)
 |      Return UTC time tuple, compatible with time.localtime().
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from datetime.datetime:
 |
 |  fold
 |
 |  hour
 |
 |  microsecond
 |
 |  minute
 |
 |  second
 |
 |  tzinfo
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from datetime.datetime:
 |
 |  resolution = datetime.timedelta(0, 0, 1)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from datetime.date:
 |
 |  __format__(...)
 |      Formats self with strftime.
 |
 |  isocalendar(...)
 |      Return a 3-tuple containing ISO year, week number, and weekday.
 |
 |  isoweekday(...)
 |      Return the day of the week represented by the date.
 |      Monday == 1 ... Sunday == 7
 |
 |  strftime(...)
 |      format -> strftime() style string.
 |
 |  toordinal(...)
 |      Return proleptic Gregorian ordinal.  January 1 of year 1 is day 1.
 |
 |  weekday(...)
 |      Return the day of the week represented by the date.
 |      Monday == 0 ... Sunday == 6
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from datetime.date:
 |
 |  day
 |
 |  month
 |
 |  year

In [60]:
dt = att_df["Date"][79]
dt.weekofyear

51

In [ ]:
att_df["no_of_employees"] = 
att_df["week_workingdays"] = 
att_df["season1"] =
att_df["season2"] =
att_df["season3"] =
att_df["climate"] = 

## no_ employee_birthday	employee_spl	employee